.content {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
  max-width: 100%;
  background-color: white;
}
h6 {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  
}
#btn-submit {
  margin-left: 30px;
}
.main-row {
  margin-top: 120px;
}
div .main-info {
  border-radius: 15px;
  border-color: blue;
}

