  <!-- Footer mặc định -->
<footer class="myFooter page-footer font-small mdb-color pt-1">
  <div class=" container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
        <h6 class="text-uppercase mb-2 font-weight-bold">About us</h6>
        <p>Hệ thống quản lí sinh viên thực tập</p>
        <p class="text-center text-md-left">© 2018 <strong>Trường Đại học Công nghệ - Đại học Quốc gia Hà Nội</strong></p>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
        <h6 class="text-uppercase mb-2 font-weight-bold">Guide</h6>
        <p><a href="#!">Portfolio</a></p>
        <p><a href="#!">Service</a></p>
        <p><a href="#!">FAQ</a></p>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
        <h6 class="text-uppercase mb-2 font-weight-bold">Contact</h6>
        <p><i class="fa fa-home mr-1"></i> E3, 144 Xuân Thủy, Cầu Giấy, Hà Nội</p>
        <p><i class="fa fa-envelope mr-1"></i> uet@vnu.edu.vn</p>
        <p><i class="fa fa-phone mr-1"></i> + 024.37547.461</p>
      </div>
    </div>
  </div>
</footer>
