<div class="container">
  <div class="row">
    <div class="caption">
      <span>Danh sách Giảng Viên</span>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead style="white-space: nowrap">
        <tr>
          <th>STT</th>
          <th>Full Name</th>
          <th>VNU Mail</th>
          <th>Note</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>
            <input class="form-control" [(ngModel)]="SearchLecturerEntity.FullName" type="text" placeholder="Search..." (keydown.enter)="Search(SearchLecturerEntity)">
          </td>
          <td>
            <input class="form-control" [(ngModel)]="SearchLecturerEntity.Vnumail" type="text" placeholder="Search..." (keydown.enter)="Search(SearchLecturerEntity)">
          </td>
          <td>
            <input class="form-control" [(ngModel)]="SearchLecturerEntity.Note" type="text" placeholder="Search..." (keydown.enter)="Search(SearchLecturerEntity)">
          </td>
          <td style="text-align: center">
            <button type="button" class="btn btn-success btn-circle" (click)="Add({IsEdit:true})"><i class="fa fa-plus fa-1x" aria-hidden="true"></i></button>
          </td>
        </tr>
        <tr *ngFor="let LecturerEntity of (Entities ? Entities : []); let i = index">
          <td>{{PagingModel.Take * PagingModel.Active + i + 1}}</td>
          <td>
            <span *ngIf="!LecturerEntity.IsEdit">{{LecturerEntity?.Fullname}}</span>
            <input *ngIf="LecturerEntity.IsEdit" type="text" class="form-control input-text" placeholder="Name..." [(ngModel)]="LecturerEntity.Fullname" />
          </td>
          <td>
            <span *ngIf="!LecturerEntity.IsEdit">{{LecturerEntity?.Vnumail}}</span>
            <input *ngIf="LecturerEntity.IsEdit" type="text" class="form-control input-text" placeholder="VNU Mail..." [(ngModel)]="LecturerEntity.Vnumail" />
          </td>
          <td>
            <span *ngIf="!LecturerEntity.IsEdit">{{LecturerEntity?.Note}}</span>
            <input *ngIf="LecturerEntity.IsEdit" type="text" class="form-control input-text" placeholder="Note..." [(ngModel)]="LecturerEntity.Note" />
          </td>
          <td class="text-center">
            <div *ngIf="!LecturerEntity.IsEdit">
              <a class="btn btn-info btn-circle" (click)="Edit(LecturerEntity)">
                <i class="fa fa-pencil fa-1x"></i>
              </a>
              <button type="button" class="btn btn-danger btn-circle delete"
                      mwlConfirmationPopover [title]="'Bạn có muốn ?' + Trick"
                      [confirmText]="'Xác nhận'"
                      [cancelText]="'Hủy'"
                      [appendToBody]="true"
                      cancelButtonType="danger"
                      [message]="'Bạn có chắc chắn xóa trường này?'"
                      placement="left" (confirm)="Delete(LecturerEntity)">
                <i class="fa fa-trash fa-1x"
                   aria-hidden="true"></i>
              </button>
            </div>
            <div *ngIf="LecturerEntity.IsEdit">
              <a class="btn btn-primary btn-circle" (click)="Save(LecturerEntity)"
                 data-toggle="m-tooltip" data-original-title="Save" data-placement="left" data-skin="dark">
                <i class="fa fa-floppy-o fa-1x"></i>
              </a>
              <a class="btn btn-danger btn-circle" (click)="Cancel(LecturerEntity)"
                 data-toggle="m-tooltip" data-original-title="Cancel" data-placement="right" data-skin="dark">
                <i class="fa fa-times fa-1x"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <app-paging [PagingModel]="PagingModel" [dot]="true" (onChanges)="Search(true)"></app-paging>
  </div>
</div>
