<div class="fixed-top">
  <div class="nav-fixed-top">
    <div class="page-header-top" style="background-color: #ffffff">
      <div class="container">
        <div class="page-logo">
          <a href="/InternNews"><img src="/assets/UET-logo.png" alt="logo" height="39" width="50"/></a>
          <a href="/InternNews"><b> Hệ thống quản lí thực tập - Human Resources Management</b></a>
        </div>
        <div class="page-info" id="asds">
          <div class="page-info-content">
            <ul class="nav navbar-top-links navbar-right">
              <li><span class="page-info-content-name">Xin chào: <b>{{UserEntity !== undefined ? UserEntity.Username : "" }} </b></span></li>
              <li>
                <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-user fa-fw fa-2x"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <li>
                    <a href="ChangePassword"><i class="fa fa-gear fa-fw"></i>Đổi mật khẩu </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="Login"><i class="fa fa-sign-out fa-fw"></i>Đăng xuất</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="nav navbar-inverse fpt-navbar navbar-toggleable-md">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer"
            aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container collapse navbar-collapse" id="navbarsExampleContainer">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let menu of MenuList"
            [ngClass]=" (menu.hasSub() ? ' dropdown' : '')">
          <div  *ngIf="menu.IsShow == true">
            <a class="fpt-nav-link nav-link" routerLinkActive="active-link"
               [routerLink]="[menu.Link]">
              {{menu.Name}}
              <i class="fa fa-angle-down" *ngIf="menu.hasSub() && menu.Link != 'Fams'"></i>
            </a>
            <div class="dropdown-content" *ngIf="menu.hasSub() && menu.Link != 'Fams'">
              <ul style="list-style: none; padding: 0;">
                <li class="side-dropdown" *ngFor="let sub of menu.Sub" style="height: 42.2px">
                  <div *ngIf="sub.IsShow == true">
                    <a class="fpt-dropdown-menu fpt-nav-link "
                       routerLinkActive="active-sublink"
                       [routerLink]="[sub.Link]">
                      {{sub.Name}}
                      <i class="fa fa-angle-right" style="float: right; top: 4px; position: relative;" *ngIf="sub.hasSub()"></i>
                    </a>
                    <div class="side-dropdown-content" *ngIf="sub.hasSub()">
                      <a *ngFor="let Subsub of sub.Sub" class="fpt-dropdown-menu fpt-nav-link"
                         routerLinkActive="active-sublink"
                         [routerLink]="[Subsub.Link]">{{Subsub.Name}}</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>

</div>
