<div>
    <div class="container-fluid">
      <div class="row" id="infor">
        <div class="col-6 offset-3 justify-content-lg-center mt-5 pt-3 pb-3">
          <form [formGroup]="ChangePasswordForm" (ngSubmit)="ChangePassword(ChangePasswordForm.value)" align="center" class="form-update">
            <br />
            <center><img src="../../../assets/blank-profile.png" alt="{{UserEntity?.Username}}" height="100" width="100" /></center>
            <h6 class="text-sm-center">{{UserEntity?.Username}}</h6>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3">
                  <label for="old_password"><strong>Mật khẩu cũ:</strong></label>
                </div>
                <div class="col-md-9">
                  <input type="password" name="old_password" class="form-control" id="oldPassword" placeholder="Mật khẩu cũ" [formControl]="ChangePasswordForm.controls['old_password']" />
                  <!--<h6 *ngIf="ChangePasswordForm.controls['old_password'].hasError('required') && ChangePasswordForm.controls['old_password'].touched" class="text-danger">Cần mật khẩu cũ</h6>-->
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3">
                  <label for="new_password"><strong>Mật khẩu mới:</strong></label>
                </div>
                <div class="col-md-9">
                  <input type="password" name="new_password" class="form-control" id="newPassword" placeholder="Mật khẩu mới" [formControl]="ChangePasswordForm.controls['new_password']" />
                  <!--<h6 *ngIf="ChangePasswordForm.controls['new_password'].hasError('required') && ChangePasswordForm.controls['new_password'].touched" class="text-danger">Cần mật khẩu mới</h6>-->
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3">
                  <label for="confirm_password"><strong>Nhập lại mật khẩu:</strong></label>
                </div>
                <div class="col-md-9">
                  <input type="password" name="confirm_password" class="form-control" id="confirmPassword" placeholder="Nhập lại mật khẩu" [formControl]="ChangePasswordForm.controls['confirm_password']" />
                  <!--<h6 *ngIf="ChangePasswordForm.controls['confirm_password'].hasError('required') && ChangePasswordForm.controls['confirm_password'].touched" class="text-danger">Cần gõ lại mật khẩu mới</h6>-->
                  <h6 *ngIf="ChangePasswordForm.errors?.passwordMatch!=null && ChangePasswordForm.controls['confirm_password'].touched" class="text-danger">Mật khẩu không khớp</h6>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <button type="button" class="btn btn-outline-primary float-sm-right" id="btn-submit" [disabled]="!ChangePasswordForm.valid" (click)="ChangePassword(ChangePasswordForm.value)">Lưu thay đổi</button>
              </div>
              <div class="col-md-4"></div>
            </div>
            <br />
          </form>
        </div>
      </div>
    </div>
  </div>

  <app-modal [OpenModalId]="EditModalComponent.ID">
    <modal-header>
      <h5 class="modal-title">
        <i class="fa fa-dropbox" aria-hidden="true"></i>
        Thay đổi mật khẩu
      </h5>
    </modal-header>
    <modal-body>
      <br>
      <div *ngIf="IsSuccess"><h4 class="text-center">Thay đổi mật khẩu thành công</h4></div>
      <div *ngIf="!IsSuccess"><h4 class="text-center">Thay đổi mật khẩu không thành công</h4></div>
      <br>
    </modal-body>
    
    <modal-footer>
      <button type="button" class="btn btn-success" [routerLink]="'/InternNews'" >
        <span><i class="fa fa-check" aria-hidden="true">Quay về</i></span>
      </button>
      <button type="button" class="btn btn-danger" data-dismiss="modal" (onClick)="CloseModal()">
        <span><i class="fa fa-times" aria-hidden="true">Hủy</i></span>
      </button>
    </modal-footer>
  </app-modal>
