
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
  }
  li {
    float: left;
    width: 33.33%;
    
  }
  li a {
      color: black;
      height: 40px;
      text-align: center;
      font-size: 150%;
      display: block;
      padding:6px 0;
      background-color: rgb(206,206,206);
    }
    li a:hover {
        background-color: rgb(156,156,156);
        color: white;
      }
      li a.active {
        background-color: rgb(24,55,110);
        color: white;
      }